/* Container principal */
.container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    padding: 20px;
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Colonne gauche : filtre */
.left {
    border-right: 2px solid #ddd;
    padding-right: 30px;
    max-width: 220px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.left h2, .left h3, .left h4 {
    margin-bottom: 10px;
    color: #333;
}

.left p {
    margin: 5px 0;
    cursor: pointer;
    transition: color 0.3s;
}

.left p:hover {
    color: #a33;
}

.left a {
    display: inline-block;
    margin-top: 10px;
    color: #0077cc;
    text-decoration: none;
    font-size: 0.9rem;
}

.left a:hover {
    text-decoration: underline;
}

.left input[type="range"] {
    width: 100%;
    margin-top: 10px;
}

/* Colonne droite : produits */
.right {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
}

.right h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}


/* Grille produits */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product-card {
    height: 270px;
    width: 250px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    padding: 15px;
    corner-radius: 10px;
}

/* Carte produit */
.card {
    justify-content: flex-start;
    height: 100%;
    padding: 0px;
    color: #333;
    background: #f8f8f8;
    border-radius: 10px;
    text-decoration: none;
}

/*.card:hover {*/
/*    transform: translateY(-5px);*/
/*    box-shadow: 0 8px 15px rgba(0,0,0,0.25);*/
/*}*/

.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.card img {
    width: 100%;
    height: 200px;
    background: #ddd;
    border-radius: 8px;
    object-fit: cover;
}

.card .info span {
    display: block;
    font-weight: 500;
}

.card .info strong {
    color: #a33;
    font-size: 1rem;
}

.add-to-cart-btn{
    background-color: #a33;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}


/* Responsive pour mobiles */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .left {
        position: relative;
        height: auto;
        border-right: none;
        padding-right: 0;
        margin-bottom: 20px;
    }
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
}
