/* Container principal */
.container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    padding: 20px;
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Colonne gauche : filtre */
.left {
    border-right: 2px solid #ddd;
    /* padding-right: 30px; */
    width: 220px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.left h2, .left h3, .left h4 {
    margin-bottom: 10px;
    color: #333;
}

.left p {
    margin: 5px 0;
    cursor: pointer;
    transition: color 0.3s;
}

.left #brand-filters {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#brand-filters input {
    /* display: inline-block; */
    margin: 5px 0;
    color: #333;
    font-size: 0.9rem;
    width: 80%;
    text-align: left;
    background-color: transparent;
    border: none;
}

#brand-filters input:hover {
    color: #a33;
    text-decoration: underline;
}

.left input[type="range"] {
    width: 100%;
    margin-top: 10px;
}

a#plus-marques {
    color: #0077cc;
}

/* FILTERS */

#price-range {
    display: flex;
    flex-direction: row;
}

#price-range input {
    width: 120px;
    margin: 0;
    margin-right: 20px;
}

#sort-filter {
    align-self: flex-end;
    width: 250px;
    margin-right: 60px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 20px;
}

/* Colonne droite : produits */
.right {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    overflow-y: auto;
}

.right h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.right #top {
    display: flex;
    justify-content: space-between;
}

/* Grille produits */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 310px);
    padding-bottom: 150px;
}

.product-card {
    display: flex;
    flex-direction: column;
    /* height: 260px; */
    width: 250px;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    border-radius: 10px;
}

/* Carte produit */
.card {
    height: 100%;
    padding: 0px;
    color: #333;
    border-radius: 10px;
    text-decoration: none;
}

.card img {
    width: 100%;
    height: 250px !important;
    background: #ddd;
    border-radius: 8px;
    object-fit: cover;
}

.product-card:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 15px rgba(0,0,0,0.25);
   transition: ease-in-out 0.1s;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.info a {
    text-decoration: none;
    color: #333;
}

.info span {
    display: block;
    font-weight: 500;
}

.info strong {
    color: #a33;
    font-size: 1rem;
}

.add-to-cart-btn{
    background-color: #a33;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}


/* Responsive pour mobiles */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .left {
        position: relative;
        height: auto;
        border-right: none;
        padding-right: 0;
        margin-bottom: 20px;
    }
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
}
